@import "../../app.scss";

.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            align-self: center;
            text-align: center;
            flex-direction: column;
        }

        
        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }
        
        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;

            @include mobile{
                width: 300px;
            }

        }
    
    }
        
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            width: 100%;
        }
        
        .title{
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }

            
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile{
                    width: 200px;
                    height: 50px;
                }

            }

            h1{
                font-size: 96px;
                font-weight: 100;

                @include mobile{
                    font-size: 36px;
                }

            }

            .button{
                // width: 300px;
                // height: 100px;
                /**
                border-radius: 50px;
                background-color: purple;
                color: ghostwhite;
                border: none;
                font-size: 24px;
                cursor: pointer;
                **/
                $border-right: 6px;
                $text-stroke-color: rgba(255,255,255,0.3);
                $animation-color: rgb(235, 13, 235);
                $fs-size: 80px;
                // margin: 0;
                // height: auto;
                background: transparent;
                // padding: 0;
                border: none;
                cursor: pointer;
                
                --border-right: #{$border-right};
                --text-stroke-color: #{$text-stroke-color};
                --animation-color: #{$animation-color};
                --fs-size: #{$fs-size};
                // letter-spacing: 3px;
                text-decoration: none;
                font-size: var(--fs-size);
                // font-family: "Arial";
                position: relative;
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 1px var(--text-stroke-color);

                .hover-text{
                    position: absolute;
                    box-sizing:  border-box;
                    content: attr(data-text);
                    color: var(--animation-color);
                    width: 0%;
                    inset: 0;
                    border-right: var(--border-right) solid var(--animation-color);
                    overflow: hidden;
                    transition: 0.5s;
                    -webkit-text-stroke: 1px var(--animation-color);

                }

                &:hover .hover-text{
                    width: 100%;
                    filter: drop-shadow(0 0 23px var(--animation-color));
                }




                @include mobile{
                    font-size: 16px;
                    width: 150px;
                    height: 50px;
                }
                

            }
        }
    }
    .listContainer{
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;

        @include mobile{
            flex-direction: column;
            width: 100%;
        }

        .box{
            width: 25%; //Añadido para corregir tamaños de los boxes
            padding: 50px;
            border: 0.5px solid purple;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile{
                border: none;
                align-items: center;
                gap: 20px;
                padding: 10px;
                width: 100%; //Añadido para corregir en mobile
            }

            p{
                @include mobile{
                    display: none;
                }
            }

            button{
                padding: 10px;
                background-color: purple;
                color: ghostwhite;
                border: none;
                cursor: pointer;

                @include mobile{
                    background-color: transparent;
                    border: 1px solid purple;
                    border-radius: 5px;
                    color: purple;
                    width: 50%;
                    padding: 5px;
                }
            }

        }
    }

}