@import "../../app.scss";

.navbar{
    height: 100px;


    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 20px; //Añadido para alineamiento

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }


        span{
            font-weight: bold;
            font-size: 15px; //Eliminar si causa bugs en la versión mobile
            @include mobile{
                display: none;
            }
        }

        /*
        .social{
            display: flex;
            gap: 20px;
        }
        img{
            width: 20px;
        }
        */


        
        .social {
            margin: 0;
            list-style: none;
            padding-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .social-item {
                margin: 0 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 12px;

                .social-link {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(53, 53, 53);
                    text-align: center;
                    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
                    transition: all 0.4s ease;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        transition: all 0.4s ease;
                    }

                    &::before {
                        top: 5px;
                        left: -10px;
                        height: 100%;
                        width: 10px;
                        background: rgb(90, 90, 90);
                        transform: rotate(0deg) skewY(-45deg);
                    }

                    &::after {
                        top: 30px;
                        left: -5px;
                        height: 10px;
                        width: 100%;
                        background: rgb(90, 90, 90);
                        transform: rotate(0deg) skewX(-45deg);
                    }

                    &:hover {
                        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
                        box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
                    }
                }

                &:nth-child(1) a {
                    color: #3b5999;

                    &:hover {
                        background: #3b5999;

                        &::before {
                            background: #3b5999;
                        }

                        &::after {
                            background: #3b5999;
                        }
                    }
                }

                &:nth-child(2) a {
                    color: #55acee;

                    &:hover {
                        background: #55acee;

                        &::before {
                            background: #55acee;
                        }

                        &::after {
                            background: #55acee;
                        }
                    }
                }

                &:nth-child(3) a {
                    color: #dd4b39;

                    &:hover {
                        background: #dd4b39;

                        &::before {
                            background: #dd4b39;
                        }

                        &::after {
                            background: #dd4b39;
                        }
                    }
                }

                &:nth-child(4) a {
                    color: #e4405f;

                    &:hover {
                        background: #e4405f;

                        &::before {
                            background: #e4405f;
                        }

                        &::after {
                            background: #e4405f;
                        }
                    }
                }

                .social-link:hover {
                    color: #ffffff;
                }
            }
        }
        








        
    }

}