@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* src/styles/fonts.scss */
.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Ajusta el peso según sea necesario */
    font-style: normal;
}
.plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;/* Ajusta el peso según sea necesario */
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.roboto {
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.helvetica-neue {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}